@use 'sass:map';
@use '../abstracts/config' as c;
@use '../abstracts/mixins' as m;

html {
  min-width: map.get(c.$grid-breakpoints, xs);

  @include m.media-breakpoint-up(md) {
    min-width: map.get(c.$grid-breakpoints, xl);
  }
}

body {
  font-family: 'YakuHanJP', 'Noto Sans JP', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'palt' 1;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

// Eliminate extra whitespace caused by img element that inserted by access analysis script
body > img {
  display: block;
  // stylelint-disable-next-line declaration-no-important
  height: 0 !important;
  font-size: 0;
}
